<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>
<p>
  <strong>Job:</strong>
  <%= @user.job %>
</p>
<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Comments:</strong>
  <% @user.comments.each do |comment|%>
  <ul class="list-group">
    <li class="list-group-item">
      <h5>Blog : <%= comment.blog.title %></h5>
      <%= link_to blog_url(comment.blog_id) do %>
      <p><%= comment.body %></p>
      <% end %>
      <br>
      <small><%= link_to 'Edit Comment', edit_blog_comment_path(comment.blog_id, comment)%></small>
      <small><%= link_to 'Delete Comment', blog_comment_path(comment.blog_id, comment), method: :delete, data: { confirm: 'Are you sure?' } %></small>
    </li>
  </ul>
  <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
